html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    
}

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; 
*/
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1540px;
    padding: 0 40px;
    margin: 0 auto;
}
.navigation_wrapper{
    display: flex;
    padding: 27px 0;
}
.navigation_wrapper .logo{
    width: 209px;
}

.navigation_wrapper .logo img{
    width: 100%;
    margin-top: 10px;
}


.navigation_wrapper .nav_list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 352px;
}
.navigation_wrapper .nav_list li{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navigation_wrapper .nav_list > li + li{
    margin-left: 114px;
}
.navigation_wrapper .nav_list li a{
    font-weight: 700;
    font-size: 22px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    position: relative;

}
.navigation_wrapper .nav_list li a:hover{
    color: #DD2323;
}
.navigation_wrapper .nav_list li:nth-child(-n+2) a::after{
    content: "";
    width: 1px;
    height: 34px;
    background-color: #000;
    position: absolute;
    top: -3px;
    right: -53px;
}



.top_nav_block{
    border-radius: 10px 10px 0px 0px;
    background: #DD2323;
   
}

.top_nav_block ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}
.top_nav_block ul li a{
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 0;
}

.top_nav_block ul li {
    text-align: center;
    flex-basis: 14.3%;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    
}

.top_nav_block ul li:last-child{
    border: none;
}


.top_nav_block ul li .submenu_list{
    position: absolute;
    min-width: 324px;
    height: auto;
    background-color: #F7F5F5;
    top: 100%;
    z-index: 10;
    display: none;
}

.top_nav_block ul li .submenu_list ul{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
}
.top_nav_block ul li .submenu_list ul li a{
    color: #DD2323;
    text-align: left;
    text-transform: none;
    font-weight: 500;
}

.top_nav_block ul li .submenu_list ul li:hover{
    background: none;
    background-color: #DD2323;
}

.top_nav_block ul li .submenu_list ul li:hover a{
    color: #fff;
    font-weight: 700;
}
.top_nav_block ul li .submenu_list ul li{
    padding-left: 50px;
    padding-right: 45px;
}


.top_nav_block ul li:hover .submenu_list{
    display: block;
}




.top_nav_block ul li:hover{
    cursor: pointer;
    background: linear-gradient(180deg, #F7F5F5 82.72%, rgba(255, 192, 192, 0.32) 142.81%)
}
.top_nav_block ul li:hover a{
    color: #DD2323;
    
}
.banner_wrapper{
    width: 100%;
    margin-top: 3px;
}

.banner_wrapper img{
    width: 100%;
}


.page_nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    
}

.page_nav ul li a{
    font-size: 20px;
    font-weight: 400;
    color: #A39E9E;
    font-family: 'Open Sans', sans-serif;
}
.page_nav ul li:last-child a{
    
    color: #000;
    
}


.page_nav ul li a::after{
    content: "/";
    color: #A39E9E;
    margin: 0 10px;
}
.page_nav ul li:last-child a::after{
    display: none;
}
.page_nav ul li:first-child{
    position: relative;
    padding-left: 30px;
}
.page_nav ul li:first-child::before{
    content: "";
    width: 8px;
    height: 8px;
    background-color: #DD2323;
    position: absolute;
    top: 38%;
    left: 0;
}
.page_nav_line{
    text-align: right;
    margin-top: -4px;
}
.about_us_wrapper{
    margin-top: 90px;
}
.about_us_wrapper h1{
    font-weight: 700;
    font-size: 36px;
    color: #555555;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 26px 0;
}


.about_us_wrapper p{
    font-weight: 400;
    font-size: 20px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    max-width: 1348px;
    margin: 0 auto;
    text-align: justify;
    text-indent: 16px;
}




.about_us_wrapper .block_photo_list{
    display: flex;
    /* max-width: 1348px;
    margin: 0 auto; */
    padding: 0 13px;
    flex-wrap: wrap;
    margin-top: 88px;
    justify-content: center;
    
}

.about_us_wrapper .block_photo_list .photo_list_item{
    flex-basis: calc(33% - 80px);
    border-radius: 10px;
    overflow: hidden;
    margin: 0 38px;
    border: 1px solid #DD2323;
}



.about_us_wrapper .block_photo_list .photo_list_item img{
    width: 100%;
    height: 100%;
}



.footer{
    margin-top: 300px;
    background-image: url('../img/footer/bg.png');
    padding-bottom: 196px;
    position: relative;
    background-size: cover;
}
.footer::before{
    content: "";
    background-image: url(../img/footer/bg2.png);
    width: 100%;
    position: absolute;
    top: -112px;
    height: 100%;
    z-index: -1;
}
.footer::after{
    content: "";
    height: 4px;
    width: 100%;
    position: absolute;
    top: -25%;
    left: 0;
    background-color: #fff;
}


.footer_wrapper{
    border-radius: 0px 0px 15px 15px ;
    background: linear-gradient(180deg, #AA0B0B 0%, #DD2323 100%);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 140px 40px 116px;
    
}



.footer_wrapper .logo{
    width: 172px;
}

.footer_wrapper .logo img{
    width: 100%;
}



.footer_wrapper .left_block_list{
    display: flex;
}


.footer_wrapper .left_block_list ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.footer_wrapper .left_block_list ul li a{
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}



.footer_wrapper .left_block_list ul:nth-child(-n+2)::after{
    content: "";
    position: absolute;
    bottom:  0;
    right: -25px;
    height: 80px;
    width: 1px;
    background-color: #fff;
}




.footer_wrapper .left_block_list > ul + ul {
    margin-left: 50px;
}


.footer_wrapper .left_block_list  ul > li + li{
    margin-top: 7px;
}
.footer_wrapper .right_block{
    padding-top: 25px;
}
.footer_wrapper .right_block .phone{
    display: flex;
}

.footer_wrapper .right_block .phone a{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    padding-left: 17px;
}

.footer_wrapper .secial_links{
    display: flex;
    margin-top: 33px;
}

.footer_wrapper .secial_links .secial_links_list{
    display: flex;
}


.footer_wrapper .secial_links a{
    display: block;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    position: relative;
    background-color: #fff;
    text-align: center;
    margin-right: 12px;
    
}

.footer_wrapper .secial_links a svg{
    margin: 5px 0 0 0;
}
.footer_wrapper .secial_links a i{
    color: #000;
    font-size: 20px;
}
.footer_wrapper .secial_links a i::before{
    margin: 5px 0 0 0;
}



.footer_wrapper .secial_links p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
}

.footer_wrapper .secial_links a:hover svg path,
.footer_wrapper .secial_links a:hover i{
    fill: #C51717;
    color: #C51717;
}





.footer_wrapper{
    position: relative;
}

.footer_wrapper::before{
    content: "";
    width: 100%;
    height: 30px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: -30px;
}



.contacts_wrapper .form_block{
    background-color: #EEF6F8;
    padding: 34px 120px 80px;
    width: 100%;
}

.contacts_wrapper .form_block form label{
    font-size: 20px;
    font-weight: 400;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    
}


.contacts_wrapper .form_block form input{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    outline: none;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 0 15px;
    margin-top: 10px;
    margin-bottom: 25px;
}


.contacts_wrapper .form_block form textarea{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    outline: none;
    height: 218px;
    padding: 15px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    margin-bottom: 50px;
    resize: none;
}



.contacts_wrapper .form_block form .capcha_btn{
    display: flex;
    justify-content: space-between;
}


.contacts_wrapper .form_block form .capcha_btn button{
    border-radius: 10px;
    border: 2px solid #AA0B0B;
    outline: none;
    background-color: #fff;
    width: 235px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 0px #aa0b0b;
    padding: 11px 20px;
    cursor: pointer;
    margin-top: 8px;
}

.contacts_wrapper .form_block form .capcha_btn button span{
    font-size: 24px;
    font-weight: 400;
    color: #AA0B0B;
    font-family: 'Open Sans', sans-serif;
}

.contacts_wrapper .form_block form .capcha_btn button .btn_icon{
    display: flex;
    padding-top: 5px;
}

.contacts_wrapper .form_block form .capcha_btn button .btn_icon .btn_icon1{
    margin-top: 4px;
}






.faq_wrapper{
    max-width: 1348px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.faq_wrapper .faq_wrapper_item{
    border-radius: 10px;
    border: 1px solid #A39E9E;
    flex-basis: 30%;
    margin-right: 30px;
    padding-bottom: 30px;
    margin-bottom: 80px;
}


.faq_wrapper .faq_wrapper_item .img{
    border: 1px solid #DD2323;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    height: 301px;
}

.faq_wrapper .faq_wrapper_item .img img{
    width: 100%;
    height: 100%;
}


.faq_wrapper .faq_wrapper_item .txt{
    padding: 0 10px;
}

.faq_wrapper .faq_wrapper_item .txt span{
    font-size: 35px;
    font-weight: 400;
    color: #AA0B0B;
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
    display: block;
}


.faq_wrapper .faq_wrapper_item .txt p{
    font-size: 20px;
    font-weight: 400;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    text-indent: 16px;
    margin-top: 13px;
}



.faq_wrapper .faq_wrapper_item .txt a{
    border-radius: 10px;
    border: 2px solid #AA0B0B;
    text-decoration: none;
    color: #AA0B0B;
    display: block;
    width: 235px;
    height: 64px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 11px 0;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 0px 5px 0px #aa0b0b;
}




.page_pagination{
    display: flex;
    max-width: 563px;
    margin: 0 auto;
    margin-top: 163px;
}




.page_pagination ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 100px;
    
}

.page_pagination ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page_pagination ul li span{
    font-size: 18px;
    color: #000;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}



.page_pagination ul > li + li{
    margin-left: 15px;
}


.btn_laft{
    margin-right: 33px;
}
.btn_right{
    margin-left: 33px;
}
.btn_laft,
.btn_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}






.footer_faq{
    margin-top: 190px;
}






.select {
    position: relative;
    display: block;
    min-width: 252px;
    width: 100%;
    height: 50px;
    
    margin-top: 8px;
}

.select__head {
    font-weight: 300;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
    color: #000;
    cursor: pointer;
    padding: 15px 35px 15px 15px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #C4C4C4;
    font-weight: 400;
    height: 100%;
}

.select__head::after {
    width: 10px;
    height: 6px;
    background: #FFF url("../img/payment_info/arrow_select.png") no-repeat center / cover;
    position: absolute;
    right: 20px;
    bottom: 50%;
    transform: translateY(50%);
    content: '';
    display: block;
    transition: .2s ease-in;
}

.select__head.open::after {
    transform: translateY(50%) rotate(180deg);
}

.select__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 5px;
    max-height: 205px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    scrollbar-color: dark;
    scrollbar-width: thin;
    overscroll-behavior: contain;
}

.select__list::-webkit-scrollbar {
    width: 7px;
    background-color: #F8F9FA;
    padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D9D9D9;
}

.select__list .select__item {
    position: relative;
    border-top: 1px solid rgba(224, 229, 231, 0.5);
    padding: 10px 15px;
    cursor: pointer;
    list-style-type: none;
}

.select__list .select__item:hover {
    background-color: rgba(224, 229, 231, 0.5);
}



.select_sity_state{
    display: flex;
    justify-content: space-between;
}




.select_country{
    margin-top: 50px;
}


.zip_code{
    margin-top: 50px;
}
.zip_code input{
    max-width: 357px;
}


.paymant_options{
    margin-top: 50px;
    margin-bottom: 110px;
}

.paymant_options .select{
    max-width: 357px ;
}



.paymant_options .select__head,
.paymant_options .select__list .select__item{
    color: #AA0B0B;
}


.payment_info_wrapper .form_block{
    width: 655px ;
    padding: 34px 50px 34px;
}

.payment_info_wrapper .btn_back_next{
    display: flex;
    margin-top: 106px;
    justify-content: flex-end;
}


.payment_info_wrapper .btn_back_next a{
    display: inline-block;
    color: #AA0B0B;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid #AA0B0B;
    border-radius: 10px;
    padding: 13px 89px;
    box-shadow: 0px 5px 0px #aa0b0b;
    background-color: #fff;
}


.payment_info_wrapper .btn_back_next .back{
   margin-right: 32px;
    
}
.payment_info_wrapper .btn_back_next .next{
    background: linear-gradient(180deg, #AA0B0B 0%, #DD2323 100%);
    color: #fff;
}
.payment_info_wrapper .btn_back_next .next:hover{
    background: #fff;
    color: #AA0B0B;
}
.payment_info_wrapper .btn_back_next .back:hover{
    background: linear-gradient(180deg, #AA0B0B 0%, #DD2323 100%);
    color: #fff;
}

.payment_info_content{
    display: flex;
    justify-content: space-between;
   
}


.payment_info_content .description_card{
    max-width: 757px;
    margin-top: 0px;
}

.payment_info_content .description_card p{
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    letter-spacing: 0em;
    font-family: 'Open Sans', sans-serif;
    text-indent: 16px;
    margin-top: 66px;
    padding-left: 45px;
   
}

.payment_info_content .description_card .block_links{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-left: 65px;
}


.payment_info_content .description_card .block_links a{
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    color: #525252;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
}




.payment_info_content .description_card .block_links a:first-child{
    color: #AA0B0B;
    
}

.payment_info_content .description_card .block_links > a + a{
    margin-top: 20px;
}



.payment_info_content .description_card .img_card{
    position: relative;
}
.payment_info_content .description_card .img_card img{
    width: 100%;
}
.payment_info_content .description_card .img_card .mask{
    position: absolute;
    top: 110px;
    right: 202px;
    width: 134px;
    height: 48px;
    background: #C92A4B;
    border-radius: 10px;
}



.shipping_wrapper .form_block{
    width: 867px;
}

.shipping_wrapper h1{
    font-weight: 700;
    font-size: 36px;
    color: #555555;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 26px 0;
}
.shipping_content .form_block .select_sity_state .select{
    min-width: 371px;
}

.country_zip_code{
    display: flex;
    justify-content: space-between;
}

.country_zip_code .select_country .select{
    min-width: 371px;
}
.country_zip_code .zip_code{
    width: 371px;
}
.country_zip_code .zip_code input{
   margin-top: 8px !important;
}



.upload_wrapper {
    margin-top: 90px;
    
}

.upload_wrapper h1{
    font-weight: 700;
    font-size: 36px;
    color: #555555;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 26px 0;
}

.upload_form_blck{
    display: flex;
    justify-content: space-between;
}









.upload_content .form_block {
    width: 100%;
    
}
.upload_content .form_block  div form{
    width: 867px;
}

.upload_content .form_block .file_form{
    background-color: #EEF6F8;
    padding: 34px 50px 80px;
    width: 867px;
    border-radius: 5px;
}

.upload_content .form_block form label{
    font-size: 20px;
    font-weight: 400;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    
}
.upload_form_blck .form_right_block{
    width: 567px;
}

.upload_content .form_block form input{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    outline: none;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 0 15px;
    margin-top: 10px;
    margin-bottom: 25px;
}



.upload_content .form_block form textarea{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    outline: none;
    height: 132px;
    padding: 15px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    margin-bottom: 0;
    resize: none;
}



.upload_content .form_block form p{
    font-weight: 700;
    font-size: 20px;
    color: #4C4F4F;
    font-family: 'Open Sans', sans-serif;
    margin: 27px 0 5px 0 ;
}

.upload_content .form_block form span{
    font-weight: 400;
    font-size: 16px;
    color: #4C4F4F;
    font-family: 'Open Sans', sans-serif;
}

.upload_content .form_block form .table_blockP{
    margin-top: 50px;
}

.upload_content .form_block form .table_block table{
    width: 100%;
    border-spacing: 0;
    
}



.upload_content .form_block form table tr:first-child td{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #4C4F4F;
}

.upload_content .form_block form table tr:last-child td{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #4C4F4F;
}
.upload_content .form_block form table tr:first-child td:first-child{
    padding-left: 13px;
}

.upload_content .form_block form table tr:last-child{
    border-radius: 10px;
}


.upload_content .form_block form table tr:last-child td{
    background-color: #fff;
    border-bottom: 1px solid #C4C4C4;
    border-top: 1px solid #C4C4C4;
    padding: 13px 0;
}
.upload_content .form_block form table tr:first-child td{
   
    padding: 13px 0;
}

.upload_content .form_block form table tr:last-child td:first-child{
    border-left: 1px solid #C4C4C4;
    border-radius: 10px 0 0 10px;
    padding-left: 13px;
}

.upload_content .form_block form table tr:last-child td:last-child{
    border-right: 1px solid #C4C4C4;
    border-radius: 0 10px 10px 0; 
}

.upload_content .form_block form .block_links a{
    text-decoration: underline;
    font-weight: 600;
    font-size: 16px;
    color: #4C4F4F;
    font-family: 'Open Sans', sans-serif;
}

.upload_content .form_block form .block_links p{
    font-weight: 400;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #4C4F4F
}
.upload_content .form_block form .block_links p a{
    color: #AA0B0B;
    
}


.upload_content .form_block form .button_block{
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
}

.upload_content .form_block form .button_block button{
    display: inline-block;
    width: 235px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid #AA0B0B;
    border-radius: 10px;
    padding: 13px 0;
    box-shadow: 0px 5px 0px #aa0b0b;
    cursor: pointer;
    color: #AA0B0B;
    background-color: #fff;
}



.upload_content .form_block form .button_block button:hover{
    background: linear-gradient(180deg, #AA0B0B 0%, #DD2323 100%);
    color: #fff;
}









.upload_wrapper .form_block .link_form{
    background-color: rgba(196, 196, 196, 0.15);
    padding: 10px 50px 57px;
    width: 867px;
    margin-top: 5px;
    box-shadow: inset 0 15px 19px -14px rgb(0 0 0 / 50%);
}


.upload_wrapper .link_form p{
    font-weight: 700;
    font-size: 20px;
    color: #4F4F4F;
}

.upload_wrapper .link_form span{
    font-weight: 400;
    font-size: 16px;
    color: #4F4F4F;
}
.upload_wrapper .link_form input{
    margin-top: 28px !important;
    margin-bottom: 0 !important;
}



.upload_wrapper .link_form .button_block{
    display: flex;
    justify-content: flex-end !important;
}

.upload_wrapper .link_form .button_block button{
    padding: 13px 30px !important;
}

.upload_wrapper .option_form{
    background: #EEF6F8;
    width: 100%;
    padding: 10px 50px 49px;
    margin-top: 5px;
    box-shadow: inset 0 15px 19px -14px rgb(0 0 0 / 50%);
} 




.upload_wrapper .option_form h3{
    font-weight: 700;
    font-size: 24px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 22px;
    padding-left: 60px;
}






.upload_wrapper .option_form input{
    width: 26px !important;
    height: 26px !important;
    margin: 0 !important;

}



.upload_wrapper .option_form .radio{
    display: none;
}


.upload_wrapper .option_form .label{
    display: flex;
}
.upload_wrapper .option_form .fake{
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    position: relative;
    border: 2px solid #000000;
}

.upload_wrapper .option_form .fake::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #AA0B0B;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .2s;
}





.upload_wrapper .option_form .radio:checked + .fake::before{
    opacity: 1;
}


.upload_wrapper .option_form .txt {
    max-width: 627px;
    margin-left: 50px;
}

.upload_wrapper .option_form .txt p{
    margin: 0;
}










.upload_wrapper .option_form > .label + .label{
    margin-top: 66px;
}
.upload_fild_block{
    width: 567px;
}
.recomend_block .title{
    font-weight: 700;
    font-size: 24px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #EEF6F8;
    margin: 0;
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
}



.recomend p{
    font-weight: 400;
    font-size: 16px;
    color: #4F4F4F;
    font-family: 'Open Sans', sans-serif;
    margin: 18px 0;
    padding-left: 35px;
}

.recomend p span{
    font-weight: 700;
}

.file_help{
    background-color: #F6F6F6;
    padding: 53px 45px 53px 68px;
    margin-top: 50px;
    border-radius: 5px;
}

.file_help span{
    font-weight: 700;
    font-size: 20px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin-bottom: 30px;
}

.file_help a{
    font-weight: 400;
    font-size: 20px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    display: block;
}





.link_form_block .services_block{
    margin-top: 5px;
    background-color: #EEF6F8;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 115px 5px 45px ;
}
.link_form_block .services_block div{
    margin: 0 17px;
    margin-bottom: 22px;
}

.option_form_block .capcha_block{
    background-color: #F6F6F6;
    border-radius: 5px;
    padding-bottom: 58px;
    padding-top: 100px;
    margin-top: 5px;
}



.option_form_block .capcha_block form{
    text-align: center;
    width: 100% !important;
}


.option_form_block .capcha_block form button{
    border-radius: 10px;
    border: 2px solid #AA0B0B;
    outline: none;
    background: linear-gradient(180deg, #AA0B0B 0%, #DD2323 100%);
    width: 329px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 0px #aa0b0b;
    padding: 11px 20px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 30px;
}





.option_form_block .capcha_block form button .btn_icon{
    display: flex;
    padding-top: 5px;
}




.option_form_block .capcha_block form  button span {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}



.option_form_block .capcha_block form button .btn_icon .btn_icon1 {
    margin-top: 4px;
}


.option_form_block .capcha_block form button:hover{
    background: #fff;
   
}


.option_form_block .capcha_block form button:hover span{
    color: #AA0B0B;
}

.option_form_block .capcha_block form button:hover .btn_icon svg path{
    fill: #AA0B0B;
}


.coroplast_wrapper{
    margin-top: 90px;
}

.coroplast_wrapper h1{
    font-weight: 700;
    font-size: 36px;
    color: #555555;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 26px 0;
}

.coroplast_wrapper .select_order{
    background-color: #EEF6F8;
    padding: 28px 117px 15px 42px;
    display: flex;
    
}


.coroplast_wrapper .select_order .select_size{
    width: 227px;
}

.coroplast_wrapper .select_order .select_size .select{
    min-width: 100%;
    height: 51px;
}
.coroplast_wrapper .select_order .select_size span,
.coroplast_wrapper .select_order .order_n span{
    font-weight: 700;
    font-size: 16px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
}

.coroplast_wrapper .select_order .order_n{
    width: 927px;
    max-width: 100%;
    margin-left: 150px;
}

.coroplast_wrapper .select_order .order_n span{
    font-size: 20px;
    display: inline-block;
    margin-bottom: 3px;
    padding-left: 40px;
}


.coroplast_wrapper .select_order .order_n ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #fff;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    padding: 11px 40px;
}

.coroplast_wrapper .select_order .order_n ul li{
    min-width: 119px;
    text-align: center;
}

.coroplast_wrapper .select_order .order_n ul li a{
    font-weight: 400;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #DD2323;
    margin: 0;
}
.coroplast_wrapper .select_order .order_n ul li:first-child{
    min-width: 112px;
    text-align: left;
}
.coroplast_wrapper .select_order .order_n ul li:first-child a{
    
    color: #000;
}


.coroplast_wrapper .select_order .order_n .order_list_sec ul > li + li{
    margin-left: 25px;
}



.coroplast_wrapper .select_order .order_n .order_list_sec > ul + ul{
    margin-top: 40px;
}



.coroplast_wrapper .select_order .order_n .from{
    font-weight: 400;
    font-size: 16px;
    color: #DD2323;
    font-family: 'Open Sans', sans-serif;
    display: block;
    text-align: center;
    margin-top: 22px;
}


.coroplast_wrapper .print_ready{
    margin-top: 42px;
}

.coroplast_wrapper .print_ready span{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    padding-left: 40px;

}
.coroplast_wrapper .print_ready .btn_block{
    background-color: #EEF6F8;
    padding: 20px 32px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 10px;
}


.coroplast_wrapper .print_ready .btn_block a{
    border-radius: 10px;
    border: 2px solid #AA0B0B;
    outline: none;
    background-color: #fff;
    min-width: 235px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 0px #aa0b0b;
    padding: 11px 20px;
    cursor: pointer;
    margin-top: 8px;
}
.coroplast_wrapper .print_ready .btn_block a .btn_icon{
    display: flex;
    padding-top: 5px;
}

.coroplast_wrapper .print_ready .btn_block a .btn_icon .btn_icon1{
    margin-top: 4px;
}




.coroplast_wrapper .print_ready .btn_block a span{
    font-weight: 400 ;
    font-size: 24px;
    padding: 0;
}

.coroplast_wrapper .print_ready .btn_block .tool{
    background: linear-gradient(180deg, #AA0B0B 0%, #DD2323 100%);
    
}



.coroplast_wrapper .print_ready .btn_block .tool span{
    color: #fff;
}
.coroplast_wrapper .print_ready .btn_block .tool:hover{
    background: #fff;
}

.coroplast_wrapper .print_ready .btn_block .tool:hover span{
    color: #000;
}

.coroplast_wrapper .print_ready .btn_block .upload:hover{
    background: linear-gradient(180deg, #AA0B0B 0%, #DD2323 100%);
}


.coroplast_wrapper .print_ready .btn_block .upload:hover span{
    color: #fff;
}

.coroplast_wrapper .print_ready .btn_block .upload:hover svg path{
    fill: #fff;
}

.coroplast_wrapper .product_info{
    margin-top: 70px;
    max-width: 1110px;
}
.coroplast_wrapper .product_info h3{
    font-weight: 700;
    font-size: 40px;
    color: #AA0B0B;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    margin-bottom: 43px;
    padding-left: 40px;
}

.coroplast_wrapper .product_info h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-align: justify;
    color: #555555;
    margin: 0;
    margin-bottom: 10px;
    padding-left: 45px;
    
}


.coroplast_wrapper .product_info p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #555555;
    text-align: justify;
    text-indent: 25px;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: 0em;
}





.popular_products{
    background-image: url('../img/coroplast/product_bg.png');
    padding-bottom: 70px;
    margin-top: 100px;
    background-size: cover;
    position: relative;
}

.popular_products::after{
    content: "";
    position: absolute;
    top: 2%;
    width: 100%;
    height: 4px;
    background-color: #fff;
}



.popular_products_wrapper{
    padding-top: 130px;
}
.popular_products_wrapper h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: #AA0B0B ;
}

.products_content{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -32px;
}



.products_content_item{
    flex-basis: 29%;
    min-height: 305px;
    background-color: #fff;
    /* border-radius: 10px; */
    border: 1px solid #DD2323;
    border-radius: 10px;
    margin: 0 30px;
    margin-bottom: 50px;
    
}


.products_content_item .img{
    text-align: center;
    height: 85%;
    position: relative;
}
.products_content_item .img img{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.products_content_item .txt{
    background: linear-gradient(180deg, #AA0B0B 0%, #DD2323 100%);
    text-align: center;
    border-radius: 0 0 10px 10px;
    padding: 3px 0;
}

.products_content_item .txt span{
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    padding: 5px 0;
}







.products_content_item:hover span{
    color: #000;
}

.footer_coroplast{
    margin-top: 0;
}
.footer_coroplast::after{
    top: -239%;
}

.footer_coroplast::before{
    display: none;
}


.header_index{
    position: relative;
    z-index: 1;
    height: 684px;
}


.bg_img_header{
    position: absolute;
    width: 100%;
    z-index: -1;
    
}
.bg_img_header img{
    width: 100%;
    height: 684px;
    object-fit: cover;
}



.head_bg_item{
    display: none;
}
.head_bg_item-active{
    display: block;
}




.slider_container_txt{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    
    
}
.slider_wrapper_txt{
    padding: 57px 0 178px 117px;
}
.slider_container_txt .txt .text_cont{
    width: 470px;
}

.slider_container_txt .txt h1{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: #fff;

}

.slider_container_txt .txt p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #fff;
    margin: 0;
    margin-top: 27px;
}


.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    border: 2px solid #FFFFFF;
    opacity: 1;
    background: transparent;
}


.swiper-pagination-bullet-active {
    opacity: 1;
    background: rgba(255, 255, 255, 0.4) !important;
    border: 2px solid transparent;
}


.index_content{
    margin-top: 10px;
    position: relative;
}
.index_content .page_nav_line{
    position: absolute;
    top: 0;
    right:  0;
    width: 100%;
}

.index_content .page_nav_line::before{
    content: "";
    position: absolute;
    width: 440px;
    height: 100%;
    left: 5%;
    background-color: #fff;
}

.index_content .page_nav_line img{
    width: 100%;
}
.index_content .page_nav{
    padding-top: 30px;
}

.index_content .coroplast_wrapper{
    display: flex;
    
    
}

.index_content .coroplast_wrapper .col_left{
    display: flex;
}


.index_content .coroplast_wrapper .col_right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-content: space-between;
    margin-right: -26px;
}

.coroplast_wrapper_item{
    width: 267px;
    margin-right: 30px;
    background: linear-gradient(179.36deg, 
    #C4C4C4 -9.36%, rgba(196, 196, 196, 0) 28.89%);
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #DD2323;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.coroplast_wrapper_item .img{
    padding: 33px 0 46px 0;
    text-align: center;
}
.coroplast_wrapper_item .txt{
    background-color: #F0EEEE;
    border-radius: 0 0 5px 5px;
    text-align: center;
    padding: 20px 50px;
    min-height: 113px;
}


.coroplast_wrapper_item .txt span{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #000;
}

.coroplast_wrapper_item:hover .txt span{
    color: #DD2323;
}


.coroplast_wrapper_item-mod{
    width: 200px;
    height: auto;
    margin-right: 23px;
}



.coroplast_wrapper_item-mod .img{
    padding: 30px 0 10px;
}
.coroplast_wrapper_item-mod .txt{
    padding: 20px 25px;

}

.coroplast_wrapper_item-mod .txt span{
    font-size: 20px;
}


.coroplast_wrapper_item-mod{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




.coroplast_wrapper_item-mod:nth-child(-n+4){
    margin-bottom: 30px;
}

.welcome{
    margin-top: 40px;
}


.welcome_wrapper h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: #000;
    padding-left: 110px;
    margin: 0;
    margin-bottom: 30px;
}

.welcome_wrapper h3 span{
    color: #CE272B;
}

.welcome_wrapper p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    text-indent: 16px;
    padding: 0 54px;
    margin: 0;
}


.welcome_wrapper .contact_us_block{
    display: flex;
    justify-content: space-between;
}

.welcome_wrapper .contact_us_block .leave{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #CE272B;
}


.welcome_wrapper .contact_us_block .btn{
    display: block;
    width: 300px;
    height: 64px;
    background: linear-gradient(180deg, #FEBF46 0%, #FFD130 100%);
    border-radius: 10px;
    padding: 14px 18px 18px 30px;
    box-shadow: 0px 5px 0px #E7A72A;
}



.welcome_wrapper .contact_us_block .btn .btn_cont{
    display: flex;
    justify-content: space-between;
}

.welcome_wrapper .contact_us_block .btn .btn_cont span{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000;
}


.welcome_wrapper .contact_us_block .btn .btn_cont .btn_icon{
    display: flex;
    padding-top: 4px;
}

.welcome_wrapper .contact_us_block .btn .btn_cont .btn_icon .btn_icon_1{
    margin-top: 4px;
}

.welcome_wrapper .contact_us_block{
    margin-top: 15px;
    padding-left: 54px;
}
.footer_wrapper .logo_footer_mob{
    display: none;
}

.logo_prod_ul{
    display: none;
}
.mob_header{
    display: none;
    position: relative;
}

.mob_header::before{
    content: "";
    width: 100%;
    height: 7px;
    background: linear-gradient(186.79deg, #FFFFFF 5.32%, #FFD130 228.93%);
    position: absolute;
    bottom: 6px;
    left: 0;
}


.mob_header .order_btn{
    display: block;
    width: 184px;
    height: 50px;
    background: linear-gradient(186.79deg, #FFFFFF 5.32%, #FFD130 228.93%);
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #000;
    display: flex;
    justify-content: space-between;
    padding: 12px 11px;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 5px 0px #aa0b0b;
}


.mob_header .order_btn .icon{
    display: flex;
}

.mob_header .order_btn .icon .icon_two{
    margin-top: 4px;
}



.burger{
    display: flex;
    justify-content: flex-end;
}


.burger_logo{
    position: absolute;
    top: 32px;
    right: 0;
    left: 0;
    text-align: center;
    
}


.burger_button{
    width: 35px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}
.burger_button div{
    background-color: #fff;
    height: 4px;
    border-radius: 5px;
}

.burger_content{
    padding-right: 125px;
    padding-top: 210px;
    padding-bottom: 90px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(170, 11, 11, 0.9);
    overflow: auto;
    display: none;
    z-index: 9;
}



.burger_content .top_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.burger_content .top_nav ul li a{
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    display: block;
}

.burger_content .top_nav ul li{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius:0 10px 10px 0 ;
    padding: 7px 0;
    text-align: center;
}


.burger_content .top_nav > ul li + li{
    margin-top: 10px
}



.burger_content .bot_nav{
    background-color: #000;
    padding-left: 39px;
    border-radius: 0 10px 10px 0;
    margin-top: 54px;
    padding-top: 30px;
    padding-bottom: 160px;
}




.burger_content .bot_nav ul{
    list-style: none;
    margin: 0;
    padding: 0;

}
.burger_content .bot_nav ul li{
    border-bottom: 1px solid #5A5858;
    padding: 10px 0;
    position: relative;
}

.burger_content .bot_nav ul li::before{
    content: "";
    position: absolute;
    width: 54px;
    height: 4px;
    background-color: #C4C4C4;
    bottom: -4px;
    left: 0;
}

.burger_content .bot_nav ul li:last-child{
    border: none;
}






.burger_content .bot_nav ul li a{
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    display: block;
}




.burger_content .btn_back{
    width: 117px;
    height: 117px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    display: block;
    margin: -58px 0px 0 120px;
}


.burger_content .btn_back .circle{
    width: 89px;
    height: 89px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}





.burger_content .btn_back .circle svg{
    position: absolute;
    top: 51%;
    left: 51%;
    transform: translate(-50%,-50%);
}








.mob_header .logo {
    text-align: center;
    z-index: 10;
    position: relative;
    height: 80px;
}
.mob_header .logo img{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 11;
}

.mob_header h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 800;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin: 20px 0;
}
.mob_header p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #000;
    text-align: center;
    margin: 0;
}

.mob_wrapper_prod{
    display: none;
}


.index_footer{
    margin-top: 0;
}
.index_footer::after{
    top: -239%;
}
.footer{
    position: relative;
}


.footer .up_button{
    display: none;
    width: 117px;
    height: 117px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: -58px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
}


.footer .up_button .up_button_content{
    width: 89px;
    height: 89px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.footer .up_button .up_button_content svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}






.footer .block_pag_button{
    display: none;
    position: absolute;
    
    position: absolute;
    top: -142px;
    left: 0px;
    right: 0;
    width: 30%;
    margin: auto;
}

.footer .block_pag_button a{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
}
.footer .block_pag_button a .btn_content{
    width: 45px;
    height: 45px;
    position: relative;
    top: 50%;
    left: 50%;
    background-color: #fff;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.footer .block_pag_button a .btn_content svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.footer .block_pag_button a:hover svg path{
    fill: #000;
}



.mab_title{
    display: none;
    border-bottom: 1px solid #5A5858;
    padding: 10px 0 ;
    margin-left: 15px;
    
}

.mab_title span{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #000;
    margin: 0;
    border-bottom: 4px solid #000 ;
    position: relative;
}

.mab_title span::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -11px;
    left: 0;
    background-color: #fff;
}

.index_footer::after,
.footer_coroplast::after{
    display: none;
}



@media screen and (max-width: 1680px){
    .top_nav_block ul li .submenu_list{
        min-width: 300px;
    }
    .coroplast_wrapper_item-mod{
        margin-right: 10px;
    }
    
}

@media screen and (max-width: 1460px){
    .top_nav_block ul li .submenu_list {
        min-width: 100%;
    }
    .faq_wrapper{
        padding-left: 50px;
    }
    .top_nav_block ul li a{
        font-size: 16px;
    }
    .top_nav_block ul li a {
        font-size: 13px;
    }
    .page_nav_line img{
        width: 80%;
    }
    /* .about_us_wrapper .block_photo_list .photo_list_item{
        flex-basis: 27%;
    } */
    .products_content_item .txt span{
        font-size: 23px;
        padding: 4px 0;
    }
   
    .coroplast_wrapper_item-mod{
        flex-basis: 22%;
    }
    .coroplast_wrapper_item{
        width: 240px;
    }

    .upload_content .form_block div form,
    .upload_wrapper .form_block .link_form,
    .upload_content .form_block .file_form{
        width: 700px;
    }
    .upload_wrapper .option_form .txt{
        max-width: 400px;
    }
}


@media screen and (max-width: 1366px){
    .products_content_item{
        flex-basis: 28%;
    } 
    .coroplast_wrapper_item-mod{
        flex-basis: 23%;
    }
    .coroplast_wrapper_item-mod .img img{
        width: 80%;
    }
    .coroplast_wrapper_item{
        width: 220px;
    }
    .coroplast_wrapper_item .img img{
        width: 80%;
    }
    /* .index_content .coroplast_wrapper .col_right{
        margin-right: -100px;
    } */
}


@media screen and (max-width: 1280px){
    .upload_content .form_block div form, 
    .upload_wrapper .form_block .link_form, 
    .upload_content .form_block .file_form{
        width: 600px;
        
    }
    .form_right_block {
        width: 530px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .faq_wrapper .faq_wrapper_item .img{
        height: 250px;
    }

    .faq_wrapper .faq_wrapper_item .txt p{
        font-size: 16px;
    }
    /* .about_us_wrapper .block_photo_list .photo_list_item {
        flex-basis: 26%;
    } */
    .coroplast_wrapper .select_order{
        flex-wrap: wrap;
    }
    .coroplast_wrapper .select_order .order_n{
        margin-left: 0px;
        margin-top: 30px;
        width: 717px;
    }
    .payment_info_content .description_card{
        width: 500px;
    }
   
    .upload_content .form_block form .button_block{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .upload_content .form_block form .button_block button{
        margin-bottom: 30px;
    }
    .upload_wrapper .option_form .txt {
        max-width: 355px;
        
    }
    .index_content .coroplast_wrapper{
        flex-wrap: wrap-reverse;
    }
   
    .coroplast_wrapper_item-mod:nth-child(-n+4){
        margin-bottom: 30px;
    }
    .coroplast_wrapper_item-mod {
        flex-basis: 17%;
        margin-bottom: 30px;
    }
    .products_content_item {
        flex-basis: 26%;
    }
    .products_content_item .txt span {
        font-size: 16px;
        padding: 9px 0;
    }
   
}

@media screen and (max-width: 1024px){
    .footer::after{
        top: -18%;
    }
    .navigation_wrapper{
        justify-content: space-between;
    }
    .navigation_wrapper .nav_list{
        margin-left: 0;
    }
    
    .upload_form_blck{
        flex-direction: column;
        justify-content: center;
    }
    .upload_form_blck:first-child{
        flex-direction: column-reverse;
    }
    .upload_content .form_block div form, 
    .upload_wrapper .form_block .link_form, 
    .upload_content .form_block .file_form{
        margin: 0 auto;
        margin-bottom: 30px;
        width: 90%;
    }
    .upload_form_blck .form_right_block{
        margin: 0 auto;
        margin-bottom: 30px;
        width: 90%;
    }
    .link_form_block .services_block{
        flex-direction: row;
    }
    .navigation_wrapper .nav_list li a{
        font-size: 20px;
    }
    .navigation_wrapper .nav_list li:nth-child(-n+2) a::after{
        top: -5px;
    }
    .faq_wrapper .faq_wrapper_item{
        flex-basis: 28%;
    }
    .faq_wrapper .faq_wrapper_item .img {
        height: 210px;
    }
    .faq_wrapper .faq_wrapper_item .txt p {
        font-size: 14px;
    }
    .faq_wrapper .faq_wrapper_item .txt span{
        font-size: 28px;
    }
    .faq_wrapper .faq_wrapper_item .txt a{
        margin-top: 20px;
        width: 200px;
        height: 54px;
        padding: 6px 0;
        font-size: 22px;
    }
    .about_us_wrapper .block_photo_list .photo_list_item{
        margin: 0 20px;
        margin-bottom: 30px;
        flex-basis: calc(33% - 50px);
    }
    .coroplast_wrapper .select_order{
        flex-wrap: wrap;
    }
    .coroplast_wrapper .select_order .order_n {
        margin-left: 0;
        margin-top: 30px;
    }
    .products_content_item {
        flex-basis: 35%;
    }
    .payment_info_content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .payment_info_content .description_card{
        margin-top: 30px;
    }
    .upload_content{
        justify-content: center;
    }
    .upload_content .form_block{
        width: 100%;
    }
    .upload_content .form_block form .button_block{
        justify-content: space-between;
    }
    .upload_fild_block{
        width: 90%;
        margin-top: 30px;
    }
    .coroplast_wrapper_item-mod{
        flex-basis: 21%;
    }
    .order_list_sec{
        overflow: auto;
    }
    .coroplast_wrapper .select_order .order_n .order_list_sec ul{
        width: 740px;
    }
   
}

@media screen and (max-width: 770px){
  
    .footer_wrapper .left_block_list ul li{
        padding: 6px 24px;
        margin-left: -24px;
    }
    .footer_wrapper .left_block_list ul li a{
        display: block;
        width: 100%;
    }
    .footer_wrapper .left_block_list ul li:hover{
        background-color: rgba(255, 255, 255, 0.2);
        
    }
    .footer_wrapper .secial_links .secial_links_list{
        width: 137px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .footer .block_pag_button{
        display: block;
        display: flex;
        justify-content: space-between;
    }
    .faq_wrapper{
        justify-content: center;
    }
    .faq_wrapper .faq_wrapper_item {
        flex-basis: 50%;
    }
    .faq_wrapper {
        padding-left: 0;
    }
    .faq_wrapper .faq_wrapper_item{
        margin: 0 17px;
        margin-bottom: 30px;
    }
    .page_pagination{
        justify-content: space-between;
    }
    .page_nav_line img {
        width: 70%;
    }
    .navigation_wrapper{
        display: none;
    }
    .top_nav_block ul li a {
        font-size: 9px;
    }
    .top_nav_block{
        display: none;
    }
    .navigation{
        display: none;
    }
    .banner_wrapper{
        display: none;
    }
    .page_nav_line, .page_nav{
        display: none;
    }

    .mob_header{
        display: block;
        background: linear-gradient(180deg, #AA0B0B 0%, #DD2323 100%);
        padding: 13px 28px 102px;
    }
    .footer_wrapper .left_block_list{
        flex-wrap: wrap;
    }
    .footer_wrapper .left_block_list{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .footer_wrapper{
        background: transparent;
        padding: 0;
        flex-direction: column;
    }
    .footer_wrapper .left_block_list ul:nth-child(-n+2)::after{
        display: none;
    }
    .footer_wrapper .left_block_list > ul + ul{
        margin: 0;
    }
    .footer_wrapper .logo{
        display: none;
    }
    .footer_wrapper .logo_footer_mob{
        display: block;
        margin: 0 auto;
        margin-top: 30px;
    }

    .footer_wrapper .left_block_list ul p{
        font-family: 'Roboto', sans-serif;
        color: #FC0707;
        font-size: 13px;
        font-weight: 500;
        border-bottom: 1px solid #DD2323;
        width: 47%;
        margin-bottom: 17px;
        
    }

    /* .footer_wrapper .right_block{
        padding-left: 24px;
    } */




    .footer_wrapper .right_block p{
        font-family: 'Roboto', sans-serif;
        color: #FC0707;
        font-size: 13px;
        font-weight: 500;
        border-bottom: 1px solid #DD2323;
        width: 47%;
        margin-bottom: 17px;
    }

    .footer_wrapper .secial_links p {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 16px;
        color: #fff;
        border: none
    }
    .footer_wrapper .secial_links{
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
       
    }
    .footer_wrapper .secial_links p{
        width: 100%;
        text-align: center;
    }
    
    .footer_faq{
        padding-bottom: 40px;
    }
    .logo_prod_ul{
        display: block;
    }
    /* .about_us_wrapper .block_photo_list .photo_list_item {
        flex-basis: 40%;
        margin-bottom: 30px;
    } */
    .contacts_wrapper .form_block form .capcha_btn{
        flex-wrap: wrap;
    }
    .contacts_wrapper .form_block{
        padding: 34px 20px 80px;
    }
    .coroplast_wrapper .select_order .order_n .order_list_sec{
        overflow: auto;
    }
    .coroplast_wrapper .select_order .order_n .order_list_sec ul{
        width: 740px;
    }
    .products_content_item{
        flex-basis: 45%;
        margin: 0 10px;
        margin-bottom: 30px;
    }
    .products_content_item .txt span{
        font-size: 17px;
        padding: 8px 0;
    }
    .payment_info_wrapper .form_block{
        width: 90%;
    }
    .select_sity_state,
    .payment_info_wrapper .btn_back_next{
        flex-wrap: wrap;
    }
    .payment_info_wrapper .btn_back_next{
        justify-content: center;
    }
    .country_zip_code{
        flex-wrap: wrap;
    }
    .shipping_content .form_block .select_sity_state .select{
        min-width: 257px;
    }
    .upload_content .form_block form .button_block{
        justify-content: space-between;
    }
    .coroplast_wrapper_item-mod {
        flex-basis: 29%;
    }
    .header_index .banner{
        display: none;
    }
    .bg_img_header{
        display: none;
    }
    .header_index{
        height: auto;
    }
    .index_content .coroplast_wrapper .col_left,
    .index_content .coroplast_wrapper .col_right{
        display: none;
    }
    .index_content .coroplast_wrapper{
        flex-wrap: nowrap;
        overflow: auto;
        margin-top: 0;
        padding-top: 90px;
        padding-bottom: 20px;

    }
    .index_content{
        background-image: url('../img/index/fon_bg_mob.png');
        background-size: cover;
    }
    .welcome_wrapper .contact_us_block{
        display: none;
    }
    .mob_wrapper_prod{
        display: block;
        display: flex;
    }
    .footer .container{
        padding: 0;
    }
    .footer .footer_wrapper{
        padding: 66px 40px 20px;
    }
    .footer_wrapper::before{
        height: 15px;
        top: -15px;
    }
    .footer .up_button{
        display: block;
    }
    .products_content{
        justify-content: center;
    }
    .index_content{
        margin-top: 0;
    }
    .page_pagination{
        display: none;
    }
    .footer_wrapper .secial_links a{
        margin-right: 0;
    }
    .products_content_item .txt {
        padding: 4px 0;
    }
    .footer::after{
        display: none;
    }
    .about_us_wrapper .block_photo_list .photo_list_item{
        margin: 0 20px;
        margin-bottom: 30px;
        flex-basis: calc(45% - 35px);
    }
}

@media screen and (max-width: 500px){
    /* .footer_wrapper .secial_links{
        width: 40%;
    } */
    .upload_content .form_block div form, 
    .upload_wrapper .form_block .link_form, 
    .upload_content .form_block .file_form{
      
        width: 100%;
    }
    .upload_form_blck .form_right_block{
       
        width: 100%;
    }
    .mab_title{
        display: block;
    }
    .about_us_wrapper h1{
        display: none;
    }
    .footer_coroplast::after{
        display: none;
    }
    .popular_products{
        padding-bottom: 160px;
    }
    .footer .block_pag_button{
        width: 75%;
    }
    .page_pagination ul{
        margin: 0;
    }
    .btn_right{
        margin-left: 0;
    }
    .btn_laft{
        margin-right: 0;
    }
    
    .faq_wrapper .faq_wrapper_item {
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 30px;
    }
    .about_us_wrapper p{
        font-size: 15px;
    }
    .about_us_wrapper .block_photo_list .photo_list_item{
        flex-basis: 100%;
    }
    .contacts_wrapper .form_block form .capcha_btn .recapcha img{
        width: 100%;
    }
    .coroplast_wrapper .print_ready .btn_block{
        flex-wrap: wrap;
    }
    .coroplast_wrapper .print_ready .btn_block a span{
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .coroplast_wrapper h1{
        font-size: 18px;
    }
    .coroplast_wrapper .select_order{
        padding: 28px 20px 15px;
    }
    .coroplast_wrapper .product_info h4{
        padding-left: 15px;
        font-size: 18px;
    }
    .coroplast_wrapper .product_info h3{
        font-size: 30px;
    }
    .products_content_item{
        margin: 0 0 30px 0;
        flex-basis: 100%;
    }
    .popular_products_wrapper {
        padding-top: 6px;
    }
    .payment_info_wrapper .btn_back_next .back{
        margin-right: 0;
        margin-bottom: 30px;
    }
    .payment_info_content .description_card p{
        padding-left: 0;
    }
    .country_zip_code .select_country{
        width: 100%;
    }
    .country_zip_code .select_country .select{
        min-width: 100%;
    }
    .upload_content .form_block{
        width: 100%;
    }
    .upload_wrapper h1{
        font-size: 26px;
    }
    .upload_content .form_block form .table_block{
        overflow: auto;
    }
    .upload_content .form_block form .table_block table{
        width: 568px;
    }
    .upload_wrapper .option_form .txt{
        margin-left: 10px;
        width: 175px;
    }
    .upload_content .form_block form p{
        font-size: 17px;
    }
    .upload_fild_block .capcha_block .capcha img{
        width: 80%;
    }
    .upload_fild_block .capcha_block form button{
        width: 80%;
    }
    .welcome_wrapper h3{
        padding-left: 0;
    }
    .welcome_wrapper p{
        padding: 0;
    }
}








